@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;        /* Blanco */
  --foreground: 222.2 84% 4.9%;   /* Azul oscuro */
  --border: 214.3 31.8% 91.4%;    /* Gris claro */

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 222.2 84% 4.9%; /* Azul muy oscuro */
    --foreground: 210 40% 98%;     /* Blanco azulado */
    --border: 217.2 32.6% 17.5%;  /* Gris oscuro */

    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  * {
    @apply border-border; 
  }
  body {
    @apply bg-background text-foreground;
  }
}